<div class="app-layout">

  <aside class="app-sidebar">

    <div class="app-sidebar__logo">
      <img
        src="assets/logos/logo-principal.png"
        alt="NodeSecure"
      />
    </div>

    <div class="app-sidebar__user">
      <div class="app-sidebar__avatar">
        AU
      </div>

      <span>A. Usuario</span>
    </div>

    <nav class="app-sidebar__menu">

      <a routerLink="/warehouses"
         routerLinkActive="app-sidebar__item--active"
         class="app-sidebar__item">
        <span class="material-symbols-outlined">
          warehouse
        </span>
        <span>{{ 'nav.warehouses' | translate }}</span>
      </a>

      <a routerLink="/devices"
         routerLinkActive="app-sidebar__item--active"
         class="app-sidebar__item">
        <span class="material-symbols-outlined">
          sensors
        </span>
        <span>{{ 'nav.devices' | translate }}</span>
      </a>

      <a
        routerLink="/team"
        routerLinkActive="app-sidebar__item--active"
        class="app-sidebar__item"
      >
        <span class="material-symbols-outlined">
          group
        </span>

        <span>{{ 'nav.team' | translate }}</span>
      </a>

      <a routerLink="/traceability"
         routerLinkActive="app-sidebar__item--active"
         class="app-sidebar__item">
        <span class="material-symbols-outlined">
          history
        </span>
        <span>{{ 'nav.traceability' | translate }}</span>
      </a>

      <a routerLink="/subscription"
         routerLinkActive="app-sidebar__item--active"
         class="app-sidebar__item">
        <span class="material-symbols-outlined">
          credit_card
        </span>
        <span>{{ 'nav.subscription' | translate }}</span>
      </a>

    </nav>

    <div class="app-sidebar__bottom">
      <app-language-switcher></app-language-switcher>

      <button class="app-sidebar__item">
        <span class="material-symbols-outlined">
          settings
        </span>
        <span>{{ 'nav.settings' | translate }}</span>
      </button>

      <button
        type="button"
        class="app-sidebar__logout"
        (click)="signOut()"
      >
        <span class="material-symbols-outlined">
          logout
        </span>

              <span>
           {{ 'nav.signOut' | translate }}
        </span>
      </button>

    </div>

  </aside>


  <main class="app-layout__content">
    <router-outlet></router-outlet>
  </main>

</div>
